/* call to action */

.cta {
  padding: 80px 10%;
  background-color: #067bff;
  text-align: center;
  color: white;
}
/* content */
.cta-content {
  max-width: 700px;
  margin: auto;
}
.cta-content h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.cta-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* button */
.cta-content .cta-button {
  display: inline-block;
  background-color: #fff;
  color: #067bff;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 15px;
  font-weight: bold;
  transition: 0.3s;
}

/* hover */
.cta-content .cta-button:hover {
  background-color: #222;
  color: #fff;
}
